<div {{ attributes }}>
    <h2>ProviderComponent</h2>
    <button data-action="live#action" data-action-name="generate">
        Generate new random string
    </button>

    <div>
        <h2>FormComponent without live-id</h2>
        <p>initialFormData prop is updated from parent, but the form is <span style="font-style: italic">not re-rendered</span></p>
        {{ component('FormComponent', {initialFormData: this.randomString}) }}
    </div>

    <div>
        <h2>FormComponent <strong>with</strong> live-id</h2>
        <p>Due to live-id, the component is newly instantiated and the form is re-rendered</p>
        {{ component('FormComponent', {initialFormData: this.randomString, 'data-live-id': this.randomString}) }}
    </div>
</div>